@use "../abstracts/" as *;

.btn {
  &--underline {
    position: relative;
    font-size: 1.3rem;
    font-family: var(--ff-ser);
    text-transform: uppercase;

    @include hover {
      &:hover::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -5%;
      z-index: -100;

      transform: translateX(-50%);

      width: 120%;
      height: 7px;
      opacity: 0.3;

      border-radius: var(--border-radius-sm);

      transition: 0.2s;
    }

    &--yellow::before {
      background-color: var(--color-primary-yellow);
    }

    &--red::before {
      background-color: var(--color-primary-red);
    }
  }
}
